<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ASUS/Desktop/ATOS2023_R01">
        <classes>
            <class name="lanhD.testng.testOpenn">
                <methods>
                    <include name="test"/>
                    <include name="test2"/>
                    <include name="test3"/>
                </methods>
            </class>
            <class name="tuNA.test.btb3">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
            <class name="tuanTT.myTest">
                <methods>
                    <include name="testSum"/>
                    <include name="testProduct"/>
                </methods>
            </class>
            <class name="tuanTT.testOpen">
                <methods>
                    <include name="Test"/>
                    <include name="Test2"/>
                    <include name="Test3"/>
                    <include name="Test4"/>
                    <include name="Test5"/>
                </methods>
            </class>
            <class name="vanNT.testt.testOpenn">
                <methods>
                    <include name="TestCase1"/>
                    <include name="TestCase2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>